<h3>ROUTED Search page</h3>
<h2>deparam: {{searchPage.bbqParams}}</h2>
<h2>stateParams: {{searchPage.stateParams}}</h2>

<hr>
<h2>$location.path: {{searchPage.$location.path()}}</h2>
<h2>$location.search: {{searchPage.$location.search()}}</h2>
<h2>$location.hash: {{searchPage.$location.hash()}}</h2>
<h2>date: {{searchPage.date}}</h2>

<button ng-click="searchPage.hashbrown()" style="font-size:40px;">Hash brown</button>

<hr>


<script type="text/ng-template" id="/test/tpl.html">
    <div class='header'>Great news!</div>
    <div class='message'>This reservation qualifies for 500 free miles or points after you checkout.</div>
    <div class='message'>After confirming your reservation you’ll select your frequent flyer program and account number.</div>
    <div test-directive>hello world</div>
</script>

<div>
  <a href="" tooltip="TESTSTSTST" tooltip-placement="right">tooltip</a>
</div>
<div>
  <a href="" tooltip-html-unsafe="<div test-directive>hello world</div>" tooltip-placement="right">tooltip-html-unsafe</a>
</div>
<div>
  <a href=""
    tooltip-template="/test/tpl.html"
    tooltip-placement="right"
    tooltip-trigger="click"
    tooltip-template-refresh="['testCtrl.result']">tooltip-template</a>
</div>

<div test-directive>hello world</div>

<br>
<br>
<br>
<br>
<br>
<br>