<!doctype html>
<html ng-app="testApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <title ng-bind="stateData.pageTitle"></title>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-controller="MainCtrl as mainCtrl">
    <h3>INSIDE ROUTED INDEX</h3>
    <div ui-view="header"></div>
    <div ui-view="content"></div>
    <div ui-view="footer"></div>

    <hr>
    <h4>ui-sref</h4>
    <div>
        <a ui-sref="home">Home</a>
        <a ui-sref="search">Search</a>
        <a ui-sref="details">Details</a>
        <a ui-sref="checkout">Checkout</a>
    </div>
    <hr>
    <h4>href</h4>
    <div>
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/details">Details</a>
        <a href="/checkout">Checkout</a>
    </div>
    <hr>
    <h4>window.location.href</h4>
    <div>
        <button ng-click="mainCtrl.redirectTo('/')">Home</button>
        <button ng-click="mainCtrl.redirectTo('/search')">Search</button>
        <button ng-click="mainCtrl.redirectTo('/details')">Details</button>
        <button ng-click="mainCtrl.redirectTo('/checkout')">Checkout</button>
    </div>
    <hr>
    <h4>$location.path</h4>
    <div>
        <button ng-click="mainCtrl.changeLocation('/')">Home</button>
        <button ng-click="mainCtrl.changeLocation('/search')">Search</button>
        <button ng-click="mainCtrl.changeLocation('/search', {test: 1})">Search {test: 1}</button>
        <button ng-click="mainCtrl.changeLocation('/search', {test: 2})">Search {test: 2}</button>
        <button ng-click="mainCtrl.changeLocation('/details')">Details</button>
        <button ng-click="mainCtrl.changeLocation('/checkout')">Checkout</button>
    </div>
    <hr>
    <h4>$state.go</h4>
    <div>
        <button ng-click="mainCtrl.stateGo('search', {test: 1})">Search {test: 1}</button>
        <button ng-click="mainCtrl.stateGo('search', {test: 1}, {reload: true, location: 'replace'})">Search {test: 1} reload, location replace</button>
        <button ng-click="mainCtrl.stateGo('search', {test: 2})">Search {test: 2}</button>
        <button ng-click="mainCtrl.stateGo('search', {test: 2}, {reload: true, location: 'replace'})">Search {test: 2} reload, location replace</button>
    </div>
    <hr>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

</body>
</html>
