<!doctype html>
<html ng-app="testApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge">

    <title ng-bind="stateData.pageTitle"></title>

    <style>
        a {
            display: block;
        }
        h4 {
            margin: 5px 0;
        }
    </style>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.13/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.13/es5-sham.min.js"></script>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="MainCtrl as mainCtrl">
    <h3>INSIDE ROUTED INDEX</h3>
    <div ui-view="header"></div>
    <div ui-view="content"></div>
    <div ui-view="footer"></div>

    <hr>

    <h4>$state.go</h4>
    <div>
        <a href="" ng-click="mainCtrl.stateGo('search')">Search</a>
        <a href="" ng-click="mainCtrl.stateGo('search', {q: 'New York', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
        <a href="" ng-click="mainCtrl.stateGo('search', {q: 'San Francisco City', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
        <a href="" ng-click="mainCtrl.stateGo('search', {q: 'San Francisco City', int: 123, extra: 'bing'})">Search 3</a>
        <a href="" ng-click="mainCtrl.stateGo('details')">Details</a>
    </div>
    <hr>

    <h4>$location.path</h4>
    <div>
        <a href="" ng-click="mainCtrl.changeLocation('/')">Home</a>
        <a href="" ng-click="mainCtrl.changeLocation('/search')">Search</a>
        <a href="" ng-click="mainCtrl.changeLocation('/search', {q: 'New York', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
        <a href="" ng-click="mainCtrl.changeLocation('/search', {q: 'San Francisco City', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
        <a href="" ng-click="mainCtrl.changeLocation('/search', {q: 'San Francisco City', int: 123, extra: 'bing'})">Search 3</a>
        <a href="" ng-click="mainCtrl.changeLocation('/details')">Details</a>
        <a href="" ng-click="mainCtrl.changeLocation('/checkout')">Checkout</a>
    </div>
    <hr>

    <h4>ui-sref</h4>
    <div>
        <a ui-sref="search">Search</a>
        <a ui-sref="search({q: 'New York', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
        <a ui-sref="search({q: 'San Francisco City', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
        <a ui-sref="search({q: 'San Francisco City', int: 123, extra: 'bing'})">Search 3</a>
        <a ui-sref="details">Details</a>
    </div>
    <hr>

    <h4>href</h4>
    <div>
        <a ng-href="{{mainCtrl.getUrl('/')}}">Home</a>
        <a ng-href="{{mainCtrl.getUrl('/search')}}">Search</a>
        <a ng-href="{{mainCtrl.getUrl('/search', {q: 'New York', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})}}">Search 1</a>
        <a ng-href="{{mainCtrl.getUrl('/search', {q: 'San Francisco City', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})}}">Search 2</a>
        <a ng-href="{{mainCtrl.getUrl('/search', {q: 'San Francisco City', int: 123, extra: 'bing'})}}">Search 3</a>
        <a ng-href="{{mainCtrl.getUrl('/details')}}">Details</a>
        <a ng-href="{{mainCtrl.getUrl('/checkout')}}">Checkout</a>
    </div>
    <hr>

    <h4>window.location.href</h4>
    <div>
        <a href="" ng-click="mainCtrl.redirectTo('/')">Home</a>
        <a href="" ng-click="mainCtrl.redirectTo('/search')">Search</a>
        <a href="" ng-click="mainCtrl.redirectTo('/search', {q: 'New York', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
        <a href="" ng-click="mainCtrl.redirectTo('/search', {q: 'San Francisco City', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
        <a href="" ng-click="mainCtrl.redirectTo('/search', {q: 'San Francisco City', int: 123, extra: 'bing'})">Search 3</a>
        <a href="" ng-click="mainCtrl.redirectTo('/details')">Details</a>
        <a href="" ng-click="mainCtrl.redirectTo('/checkout')">Checkout</a>
    </div>
    <hr>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/jquery-bbq.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

</body>
</html>
