<!doctype html>
<html ng-app="testApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge">

    <title ng-bind="stateData.pageTitle"></title>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.13/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.13/es5-sham.min.js"></script>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="MainCtrl as mainCtrl">
    <h3>UNROUTED HOME PAGE</h3>

    <table>
        <thead>
            <tr>
                <th>$state.go</th>
                <th>$location.path</th>
                <th>ui-sref</th>
                <th>a href</th>
                <th>window.location.href</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
                <td>
                    <a href="" ng-click="mainCtrl.changeLocation('/')">Home</a>
                </td>
                <td>

                </td>
                <td>
                    <a ng-href="{{mainCtrl.getUrl('/')}}">Home</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.redirectTo('/')">Home</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" ng-click="mainCtrl.stateGo('search')">Search</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.changeLocation('/search')">Search</a>
                </td>
                <td>
                    <a ui-sref="search">Search</a>
                </td>
                <td>
                    <a ng-href="{{mainCtrl.getUrl('/search')}}">Search</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.redirectTo('/search')">Search</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" ng-click="mainCtrl.stateGo('search', {q: 'New York, USA PO.BOX:100$, 300@50', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.changeLocation('/search', {q: 'New York, USA PO.BOX:100$, 300@50', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
                </td>
                <td>
                    <a ui-sref="search({q: 'New York, USA PO.BOX:100$, 300@50', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
                </td>
                <td>
                    <a ng-href="{{mainCtrl.getUrl('/search', {q: 'New York, USA PO.BOX:100$, 300@50', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})}}">Search 1</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.redirectTo('/search', {q: 'New York, USA PO.BOX:100$, 300@50', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" ng-click="mainCtrl.stateGo('search', {q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.changeLocation('/search', {q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
                </td>
                <td>
                    <a ui-sref="search({q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
                </td>
                <td>
                    <a ng-href="{{mainCtrl.getUrl('/search', {q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})}}">Search 2</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.redirectTo('/search', {q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" ng-click="mainCtrl.stateGo('search', {q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 123, extra: 'bing'})">Search 3</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.changeLocation('/search', {q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 123, extra: 'bing'})">Search 3</a>
                </td>
                <td>
                    <a ui-sref="search({q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 123, extra: 'bing'})">Search 3</a>
                </td>
                <td>
                    <a ng-href="{{mainCtrl.getUrl('/search', {q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 123, extra: 'bing'})}}">Search 3</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.redirectTo('/search', {q: 'San Francisco City, USA PO.BOX:100$, 300@50', int: 123, extra: 'bing'})">Search 3</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" ng-click="mainCtrl.stateGo('details')">Details</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.changeLocation('/details')">Details</a>
                </td>
                <td>
                    <a ui-sref="details">Details</a>
                </td>
                <td>
                    <a ng-href="{{mainCtrl.getUrl('/details')}}">Details</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.redirectTo('/details')">Details</a>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.changeLocation('/checkout')">Checkout</a>
                </td>
                <td>
                </td>
                <td>
                    <a ng-href="{{mainCtrl.getUrl('/checkout')}}">Checkout</a>
                </td>
                <td>
                    <a href="" ng-click="mainCtrl.redirectTo('/checkout')">Checkout</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/jquery-migrate.js"></script>
    <script src="scripts/jquery-bbq.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

</body>
</html>
