<!doctype html>
<html ng-app="testApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <title ng-bind="stateData.pageTitle"></title>

    <style>
        a {
            display: block;
        }
        h4 {
            margin: 5px 0;
        }
    </style>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-controller="MainCtrl as mainCtrl">
    <h3>UNROUTED CHECKOUT PAGE</h3>

    <hr>

    <h4>$location.path</h4>
    <div>
        <a href="" ng-click="mainCtrl.changeLocation('/')">Home</a>
        <a href="" ng-click="mainCtrl.changeLocation('/search')">Search</a>
        <a href="" ng-click="mainCtrl.changeLocation('/search', {q: 'New York', int: 123, float: -23.4365, str: 'ubiprogram', date: '11/23/2015'})">Search 1</a>
        <a href="" ng-click="mainCtrl.changeLocation('/search', {q: 'San Francisco City', int: 456, float: 45.6574, str: 'meowprog', date: '12/25/2015'})">Search 2</a>
        <a href="" ng-click="mainCtrl.changeLocation('/details')">Details</a>
        <a href="" ng-click="mainCtrl.changeLocation('/checkout')">Checkout</a>
    </div>
    <hr>

    <h4>href</h4>
    <div>
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/search?q=New%20York&int=123&float=-23.4365&str=ubiprogram&date=11%2F23%2F2015'">Search 1</a>
        <a href="/search?q=San%20Francisco%20City&int=456&float=45.6574&str=meowprog&date=12%2F25%2F2015'">Search 2</a>
        <a href="/details">Details</a>
        <a href="/checkout">Checkout</a>
    </div>
    <hr>
    
    <h4>window.location.href</h4>
    <div>
        <a href="" ng-click="mainCtrl.redirectTo('/')">Home</a>
        <a href="" ng-click="mainCtrl.redirectTo('/search')">Search</a>
        <a href="" ng-click="mainCtrl.redirectTo('/search?q=New%20York&int=123&float=-23.4365&str=ubiprogram&date=11%2F23%2F2015')">Search 1</a>
        <a href="" ng-click="mainCtrl.redirectTo('/search?q=San%20Francisco%20City&int=456&float=45.6574&str=meowprog&date=12%2F25%2F2015')">Search 2</a>
        <a href="" ng-click="mainCtrl.redirectTo('/details')">Details</a>
        <a href="" ng-click="mainCtrl.redirectTo('/checkout')">Checkout</a>
    </div>
    <hr>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/jquery-bbq.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

</body>
</html>
